.container{
  height: 700px;
  padding:10px;
  width:400px;
}
.header{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  background: -webkit-linear-gradient(hsl(48, 100%, 55%), #fafafa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}
.lon h5,.lat h5{
letter-spacing: 3px;
text-transform: uppercase;
font-size:12px
}
.lon>p,.lat>p{
  font-size: 15px;
  font-weight: 500;
  color:rgb(247, 235, 10)
}
.side>h1{
  text-transform:uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 30px;
}
.light{
  background-color: rgb(95, 197, 163);
}